<!-- src/app/about/about.component.html -->
<section class="py-16 bg-white">
    <h2 class="text-3xl font-bold text-gray-800 text-center">About Me</h2>
    <p class="text-lg text-gray-600 mt-4 max-w-2xl mx-auto text-center">
        I'm a seasoned full stack developer specializing in HTML5, CSS3, JavaScript, Angular Js, PHP v8, MySQL 8 with a knack for seamless
        database
        integration. Beyond development, I excel in design, crafting captivating
      animations and visually stunning user
        interfaces that elevate digital experiences. With over 1 year1 in web
      application creation, my passion for
        innovation
        remains as strong as ever.
    </p>
</section>
